---
http_interactions:
- request:
    method: get
    uri: https://api.exchangeratesapi.io/latest?base=PLN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"rates":{"CAD":0.338081913,"HKD":1.9950047409,"ISK":31.5441363521,"PHP":13.3419671145,"DKK":1.7268333295,"HUF":76.76048195,"CZK":5.985522999,"GBP":0.2046899933,"RON":1.0949793021,"SEK":2.4676348836,"IDR":3581.6747993802,"INR":18.2656506556,"BRL":1.0438704008,"RUB":16.3364168266,"HRK":1.7100668347,"JPY":27.5109271293,"THB":7.7870539534,"CHF":0.2528156148,"EUR":0.2312619967,"MYR":1.0658402905,"BGN":0.4523022132,"TRY":1.4578987535,"CNY":1.8028491478,"NOK":2.2904881941,"NZD":0.4006382831,"ZAR":3.7348349946,"USD":0.2551051086,"MXN":4.9558983372,"SGD":0.3505469346,"AUD":0.3712680095,"ILS":0.9024536898,"KRW":302.0582317708,"PLN":1.0},"base":"PLN","date":"2019-09-16"}'
  recorded_at: Tue, 17 Sep 2019 09:36:26 GMT
recorded_with: VCR 5.0.0
